name: Update Prefix Lists

on:
  push:
    branches: [ main ]
    paths:
      - wl.txt
      #- botnet.txt
      - update_prefixes.py

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: pip install requests

      - name: Run update script
        env:
          API_URL: ${{ secrets.API_URL }}
          API_USER: ${{ secrets.API_USER }}
          API_PASS: ${{ secrets.API_PASS }}
        run: python update_prefixes.py
